<div class="rightnav">
	<div class="sidebar">
		<nav class="sidebar-nav">
			<a class="sidebar-nav-item active" href="/">首页</a>
			<a class="sidebar-nav-item-unsigned">收藏</a>
			<a class="sidebar-nav-item-unsigned" href="/order">订单</a>
			<a class="sidebar-nav-item-unsigned">优惠券</a>
			<a href="tel:400-012-3901" class="sidebar-nav-item-tel">
				<span class="sidebar-nav-tel-title">
					<i class="fa fa-phone"></i>客服电话
				</span>
				<span class="sidebar-nav-tel-info">	
					7×24小时免费客服电话
				</span>
			</a>
		</nav>
		<div class="sidebar-item sidebar-footer">
			<p>
				<a href="/login" (click)="logOut()">{{statusText}}</a>
			</p>
		</div>
	</div>
</div>
