<div class="mangerindex">
  <div class="topNav">
      <el-menu [model]="0" (modelChange)="handle($event)" class="el-menu-demo" mode="horizontal"
      background-color="skyblue"
      active-text-color="#ffd04b"
      text-color="#fff">
      <el-menu-item index="1" *ngFor="let item of topNav">{{item.item}}</el-menu-item>
      <!-- <el-submenu *ngIf="item1.children.length>0"></el-submenu> -->
      <el-submenu index="2" title="第二级菜单">
        <el-menu-item index="2-1">选项1</el-menu-item>
        <el-menu-item index="2-2">选项2</el-menu-item>
        <el-menu-item index="2-3">选项3</el-menu-item>
      </el-submenu>
    </el-menu>
    
  </div>
  <div class="leftNav">
      <div el-row class="tac">
          <div el-col span="5">
            <el-menu model="2" class="el-menu-vertical-demo" background-color="#dcdcdc" text-color="#000">
              <el-submenu index="1">
                <ng-template #title>
                  <i class="el-icon-message"></i>导航一
                </ng-template>
                <el-menu-item-group title="分组一" text-color="#000">
                  <el-menu-item index="1-1">选项1</el-menu-item>
                  <el-menu-item index="1-2">选项2</el-menu-item>
                </el-menu-item-group>
                <el-menu-item-group title="分组2" text-color="#000">
                  <el-menu-item index="1-3">选项3</el-menu-item>
                </el-menu-item-group>
                <el-submenu index="1-4" title="选项4" text-color="#000">
                  <el-menu-item index="1-4-1">选项1</el-menu-item>
                </el-submenu>
              </el-submenu>
              <el-menu-item index="2" *ngFor="let item1 of leftNav"><i class="el-icon-menu"></i>{{item1.item}}</el-menu-item>
              <!-- <el-menu-item index="2"><i class="el-icon-menu"></i>导航二</el-menu-item> -->
              <!-- <el-menu-item index="3"><i class="el-icon-setting"></i>导航三</el-menu-item> -->
            </el-menu>
          </div>
  </div>
  <div class="rightNav"></div>
</div>